<div class="vue" ng-controller="MainCtrl as mainCtrl" data-ng-init="initHomepage()">
  <div class="row top-bar">
    <div class="col-md-12">
      <h2 class="title">Homepage</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table ng-table="tablePersons" template-pagination="custom/pager" show-filter="false" class="table table-bordered table-hover">
        <caption><span class="fa fa-user fa-lg"></span> Persons</caption>
        <tr ng-repeat="person in $data">
          <td data-title="'Nom'" sortable="'firstname'" filter="{ 'number': 'text' }" style="text-align: center"><a
            ng-href="#/persons/{{ person.id }}">{{ person.firstname }} {{ person.name }}</a></td>
          <td data-title="'Sexe'" sortable="'stage'" style="text-align: center">{{ person.gender }}</td>
          <td data-title="'Email'" sortable="'stage'" style="text-align: center">{{ person.email }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-12" >
      <table ng-table="tableHomes" template-pagination="custom/pager" show-filter="false" class="table table-bordered table-hover">
        <caption><span class="fa fa-home fa-lg"></span> Homes</caption>
        <tr ng-repeat="home in $data">
          <td data-title="'Address'" sortable="'label'" filter="{ 'label': 'text' }"><a ng-href="#/home/{{ home.id }}">{{ home.address }}</a></td>
          <td data-title="'Ip address'" sortable="'email'" filter="{ 'email': 'text' }" style="text-align: center">{{ home.ipAddress }}</td>
          <td data-title="'Size'" sortable="'size'" filter="{ 'size': 'text' }" style="text-align: center">{{ home.size }}</td>
          <td data-title="'Room qty'" sortable="'size'" filter="{ 'roomQty': 'text' }" style="text-align: center">{{ home.roomQty }}</td>
        </tr>
      </table>
    </div>

    <script type="text/ng-template" id="custom/pager"></script>
  </div>
</div>
