<div id="dialog-person"></div>
<div class="growl" growl></div>
<div class="person vue" data-ng-init="getPerson()">
	<div class="row top-bar">
		<div class="col-md-6">
			<h2 class="title">{{ person.firstname }} {{ person.name }}</h2>
		</div>
		<div class="col-md-6 btn-top">
			<div class="btn-group pull-right">
				<button ng-click="updatePerson()" class="btn btn-warning"
					type="button" title="Modifier le person">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button
					ng-really-message="Voulez-vous vraiment supprimer cette personne ?"
					ng-really-click="delete(person.id)" class="btn btn-danger"
					type="button" title="Supprimer le person">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
        <dt>Gender</dt>
        <dd>{{ person.gender }}</dd>
        <dt>Birthday</dt>
        <dd>{{ person.birthday | date }}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>{{ person.email }}</dd>
        <dt>Facebook profile</dt>
        <dd>{{ person.facebookProfile }}</dd>
			</dl>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table ng-table="tablePersonHomes"
				class="table table-bordered table-hover">
				<caption>
          <span class="fa fa-home fa-lg"> Homes</span>
          <a ng-really-click="addHome()" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Add a home">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </caption>
				<tr ng-repeat="home in $data">
					<td data-title="'Address'" sortable="'label'"><a
						ng-href="#/parc/{{ parc.id }}">{{ home.address }}</a></td>
					<td data-title="'Actions'"><button
							ng-really-message="Delete ?"
							ng-really-click="delete({{$index}})" type="button"
							class="btn btn-link btn-xs btn-remove">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button></td>
				</tr>
			</table>
		</div>

    <div class="col-md-12">
      <table ng-table="tablePersonFriends"
             class="table table-bordered table-hover">
        <caption>
          <span class="fa fa-user fa-lg"> Friends</span></a>
          <a ng-really-click="addFriend()" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Add a friend">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </caption>
        <tr ng-repeat="home in $data">
          <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }" style="text-align: center"><a
            ng-href="#/persons/{{ person.id }}">{{ person.firstname }} {{ person.name }}</a></td>
          <td data-title="'Gender'" sortable="'gender'" filter="{ 'gender': 'text' }"  style="text-align: center">{{ person.gender }}</td>
          <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }" style="text-align: center">{{ person.email }}</td>
          <td data-title="'Actions'"><button
          ng-really-message="Delete ?"
          ng-really-click="delete({{$index}})" type="button"
          class="btn btn-link btn-xs btn-remove">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button></td>
        </tr>
      </table>
    </div>
	</div>
</div>
